/* BARRA DE NAVEGACION */


body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#000000;

}

.navbar{
    background:#2f2f2f;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 25px;
}

.logo{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#e9e2d5;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    color:#7a6a55;
    font-size:22px;
}
.menu{
    display:flex;
    gap:170px;
    align-items:center;
}
.el_logo{
    font-size:11px;
    display:flex;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    padding: 5px 10px;
    border-radius: 25%;
}
.boton{
    background:#e5e5e5;
    border:none;
    padding:24px 50px;
    border-radius:10px;
    font-size:30px;
    cursor:pointer;
}

.boton:hover{
    background:#8b8b8b;
    text-decoration: underline;
}

.buscador{
    width: 75px;
    height: 75px;
    border-radius:10px;
    border:none;
    background-color:#e5e5e5;
    font-size:28px;
    cursor:pointer;
}

.buscador:hover{
    background:#8b8b8b;
}


/* MAIN */


.agenda{
    font-size:25px;
}

.tabla-agenda {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

.tabla-agenda th, .tabla-agenda td {
    background-color: #595959;
    color: #ffffff;
    border: 2px solid #000000;
    padding: 12px;
    text-align: center;
}


/* DEBAJO DE LA TABLA */
.debajo-tabla {
    display: flex;
    gap: 300px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.parte1 {
    background-color: #5a5353;
    padding: 5px 100px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
     white-space: nowrap; 
}

.parte2 {
    background-color: #5a5353;
    padding: 5px 0px;
    border-radius: 10px;
    color:#ffffff;
    text-align: center;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales {
    margin: 10px;
    /* Tamaño base */
    transform: scale(1); 
    transition: transform 0.3s ease; 
}

.redes-sociales:hover {
  transform: scale(1.15);
}

.caracteristicas {
    background-color: #555454;
    padding: 15px;
    border-radius: 25px;
    color:#ffffff;
}